<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                padding-top: 200px;
                background: #212121;
                text-align: center;
                color: white;
            }
        </style>
    </head>
    <body>
        <form method="post" action="/">
            <div>
                <label for="message">enter your secret message:</label><br>
                <textarea style="margin-top: 5px;" name="message" id="message" cols="30" rows="3"></textarea>
            </div>
            <button type="submit" style="margin-top: 5px">Save me</button>
        </form>
    </body>
</html>